<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <link href="{% static 'mycss/css/sign_up.css' %}" rel="stylesheet">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        {% if error_message %}<center><p class="alert-danger">{{ error_message }}</p></center>{% endif %}
      <form class="form-signup" action=/realsignin/ method="POST">
        {% if message %}
      <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
        <center><h2 class="form-signup-heading"> Welcome </h2></center>

          <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

          <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

          <center><div class="form-signup">
            <a href="{% url 'polls:sign_up' %}">{{ 'Sign up now ?' }}</a>
          </div></center>

      </form>
    </div> <!-- /container -->
</body>
</html>